.message-content {
  padding: 5px;
  margin: 5px;
  border: 2px solid #b6d4fe;
  border-radius: 5px;
  background-color: #cfe2ff;
  color: #084298;
}

.card-boxes {
  color: #084298;
  border: 2px solid #b6d4fe;
  background-color: #cfe2ffd8;
}

.card-link {
  color: #084298;
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.group-chat {
  width: 55% !important;
}

.msg-form {
  width: 100px;
  height: 56px;
  padding: 10px;
}

#single_group {
  height: calc(100vh-150px);
}

#messages {
  height: calc(100vh-150px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#room_container {
  height: 100vh;
  margin-right: 0px !important;
}

#side_panel {
  height: 100vh;
  margin-right: 0px !important;
  margin-bottom: 55px;
}

#chatroom_container {
  height: 100vh;
  margin-right: 0px !important;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #cfe2ffd8;
  padding: 10pxl;
}