<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <% if user_signed_in? %>
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="collapse navbar-collapse" id=""> 
          <span class="mr-auto" style="color:white">Chat App</span>
        </div>
      </ul>   
      <div class="dropdown-right">
        <ul class="navbar-nav ml-auto mr-4">
          <li class="nav-item dropdown-right">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><span class="dropdown-item"><%= current_user.email%></span></li>
              <li><div class="dropdown-divider"></div></li>
              <li>
                <span class="dropdown-item"> 
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "dropdown-item text-primary" %>
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="container-fluid">  
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="collapse navbar-collapse" id=""> 
          <span class="mr-auto" style="color:white">Chat App</span>
        </div>
      </ul>
      <div class="dropdown-right">
        <ul class="navbar-nav ml-auto mr-4">
          <li class="nav-item dropdown-right">
            <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
          </li>
          <li><div class="dropdown-divider"></div></li>
          <%= link_to 'Signup', new_user_registration_path, class: "nav-link" %>
        </ul>
      </div>
    </div>
  <% end %>
</nav>